.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

/* start of my mods */
.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}

.home-info img {
    margin: 0 auto;
}

.home-info .entry-header,
.home-info .entry-content,
.home-info .entry-footer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 1rem;
}

.cooltitle {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.jul {
    z-index: 2;
    /* idk it doesnt work anyway */
}

.typing {
    margin-top: 32px;
    font-size: 20px;
}

h2 {
    font-size: 35px;
}

.emote {
    display: inline;
    vertical-align: middle;
    margin: 0 4px;
}

.entry-content {
    margin-top: -40px;
}

summary {
    cursor: pointer;
}

.copy {
    cursor: pointer;
}

.first-entry {
    max-width: 550px;
    margin-bottom: 5px !important;
}

/* form */

.contact-form {
    padding: var(--content-gap);
    border-radius: var(--radius);
    width: 100%;
    max-width: var(--main-width);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: -25px;
}

.form-row {
    display: flex;
    gap: var(--gap);
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary);
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background: var(--code-bg);
    color: var(--content);
    font-size: 16px;
}

.bigger-input-like-my-dic {
    resize: vertical;
    height: 120px;
}

/* i use cool button instead of this */
/* .form-button {
    padding: 10px;
    background: var(--primary);
    color: var(--theme);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.form-button:hover {
    background: var(--secondary);
} */

.post-entry {
    max-width: 420px;
    /* haha so funny 420 */
}

/* it was sticky but i dont like it anymore */
/* .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--theme);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.cool-button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
.cool-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.cool-button:hover {
    color: #e8e8e8;
}

.cool-button:hover::before {
    width: 100%;
}

.cool-button:active {
    transform: scale(0.88);
}

.social-icon:active {
    transform: scale(0.92);
    transition: all 250ms;
}

.fadein {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}